@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-yellow-custom {
  background-color: #ffff00
}

.text-yellow-custom {
  color: #ffff00;
}

.text-stroke-red {
  -webkit-text-stroke: 1px red;
  -webkit-text-fill-color: white;
}

.text-stroke-yellow {
  -webkit-text-stroke: 1px #ffff00;
  -webkit-text-fill-color: white;
}

.text-stroke {
  -webkit-text-stroke: 1px #000;
  -webkit-text-fill-color: white;
}
